body {
  margin: 0;
  background: #ccc;
}
nav {
  position: fixed;
  width: 100%;
  text-align: center;
  height: 1.3em;
  background: rgba(255,255,255,0.8)
}
button {
  line-height: 1.5em;
  border: none;
}
button:focus {
  outline: none;
  background: #eee
}
main {
  width: 50%;
  margin: 0 auto;
}
section {
  padding: 1.5em 1em 0;
  height: 700px;
  background: #eee;
}
